{% extends "base.html" %}

{% block "title" %}Aquarium: Fish</title>{% endblock %}

{% block "content" %}
{% load static %}
{% if fish.cover %}
<div>
    <img src="{{ fish.cover.url }}" class="max-width: 20%" alt="...">
    {% else %}
    <img src="{% static 'img/no-image.png' %}" class="max-width: 20%">
</div>
{% endif %}
<div class="container">
    <h1>{{ fish.fish_title }}</h1>
    <hr>
    <p><strong>Specie: </strong>{{ fish.species }}</p>
    <p><strong>Origin: </strong>{{ fish.origin }}</p>
    <p>{{ fish.description }}</p>
    <hr>
    {% if user.is_authenticated %}
    <div class="fieldWrapper">
        <h4>Palikite atsiliepimą:</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.content }}</br>
            <input type="submit" value="Paskelbti">
        </form>
    </div>
    {% endif %}
    <h2>Atsiliepimai:</h2>
    {% if fish.reviews.all %}
    {% for review in fish.reviews.all %}
    <hr>
    <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created }}</em>
    <p>{{ review.content }}</p>
    {% endfor %}
    {% else %}
    <p>Zuvis neturi atsiliepimų</p>
    {% endif %}
    <hr>
</div>
{% endblock %}