{% extends "base.html" %}

{% block "title" %}Aquarium: Fish</title>{% endblock %}

{% block "content" %}
{% load static %}
{% if fish.cover %}
<div>
    <img src="{{ fish.cover.url }}" class="max-width: 20%" alt="...">
    {% else %}
    <img src="{% static 'img/no-image.png' %}" class="max-width: 20%">
</div>
{% endif %}
<div class="container">
    <h1>{{ fish.fish_title }}</h1>
    <hr>
    <p><strong>Specie: </strong>{{ fish.species }}</p>
    <p><strong>Origin: </strong>{{ fish.origin }}</p>
    <p>{{ fish.description }}</p>
    <hr>
</div>
{% endblock %}