{% extends "base.html" %}
{% load i18n %}
{% block "title" %}{% trans "Aquarium: Fish" %}</title>{% endblock %}

{% block "content" %}
{% load static %}
{% if fish.cover %}
<div>
    <img src="{{ fish.cover.url }}" class="max-width: 20%" alt="...">
    {% else %}
    <img src="{% static 'img/no-image.png' %}" class="max-width: 20%">
</div>
{% endif %}
<div class="container">
    <h1>{{ fish.fish_title }}</h1>
    <hr>
    <p><strong>{% trans "Specie:" %} </strong>{{ fish.species }}</p>
    <p><strong>{% trans "Origin:" %} </strong>{{ fish.origin }}</p>
    <p>{{ fish.description }}</p>
    <hr>
    {% if user.is_authenticated %}
    <h4>{% trans "Comments:" %}</h4>
    <a>{% trans "Comments:" %} {{ fish.num_reviews }}</a>
    {% for review in fish.reviews.all %}
    <hr>
    <img class="rounded-circle" style="width:2%" src="{{ review.reviewer.profilis.nuotrauka.url }}"
         alt="{{ review.reviewer }}">
    <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created }}</em>
    <p>{{ review.content|safe }}</p>
    {% if review.reviewer == user %}
    <div>
        <a class="btn btn-secondary btn-sm mb-2" href="{% url 'review_edit' fish.id review.id %}">{% trans "Edit" %}</a>
        <a class="btn btn-danger btn-sm mb-2" href="{% url 'review_delete' fish.id review.id %}">{% trans "Delete" %}</a>
    </div>
    {% endif %}
    {% endfor %}
    <hr>
    <div class="fieldWrapper">
        <h4>{% trans "Leave comment" %}</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.content }}</br>
            <input type="submit" value="Comment">
        </form>
    </div>
    {% endif %}
</div>
</article>
{% endblock %}
