{% extends "base.html" %}

{% block "title" %}Akvariumas: Species{% endblock %}

{% block "content" %}
{% load static %}
<h1>Species:</h1>
<ul>
    {% if species %}
    <div class="row">
        {% for specie in species %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm" style="width:300px">
                {% if specie.cover %}
                <img src="{{ specie.cover.url }}" class="card-img-top" alt="...">
                {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <p class="card-text"><a href="{{ specie.id }}">{{ specie }}</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <ul>
        {% for specie in species %}
        <li><a href="{% url 'specie' specie.id %}">{{ specie }}</a></li>
        {% endfor %}
    </ul>

</ul>
{% endif %}
</nav>
</div>

{% endblock %}