{% extends "base.html" %}

{% block "title" %}Aquarium{% endblock %}

{% block "content" %}
{% load static %}
<h1>Knygos egzempliorius:</h1>
<ul>
    <div class="row">
        <img class="rounded-circle account-img" src="{{ instance.reader.profilis.nuotrauka.url }}" style="width: 200px; height: auto;">
        <p><strong>Vartotojas: </strong>{{ instance.reader.username }}</p>
        {% if instance.reader == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'mybook_update' instance.id %}">Redaguoti</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'mybook_delete' instance.id %}">Ištrinti</a>
            </div>
        {% endif %}
    </div>
</ul>
{% endblock %}